# JWT_SECRET=secretkey 

# # The Transaction Pooler string (used for your daily API requests)
# DATABASE_URL="postgresql://postgres.hfzuebibysediwbiilet:REPLACEPASSWORDHERE@aws-1-us-west-2.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1&schema=public"